:root {
  --background-color: rgb(240, 242, 245);
  --footer-text-color: rgb(138, 141, 145);
}
a {
  text-decoration: none;
  color: #000000;
}
ul {
  list-style: none;
  padding-left: 0px;
}
body {
  background-color: var(--background-color);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
/* .body-wrapper{
    display: flex;
    flex-direction: column;
    height: 98vh;
} */
.main {
  display: flex;
  width: 1440px;
  margin: 0 auto;
  height: 82vh;
  padding-top: 15%;
  box-sizing: border-box;
  /* flex: 1 1 auto; */
}
/* Info */
.info {
  width: 50%;
}
.text {
  font-size: 28px;
  font-weight: inherit;
  line-height: 1.1;
  padding-left: 30px;
  margin-top: 0;
  width: 500px;
}
/* Log in */
.log-in {
  width: 50%;
}
.form {
  background-color: #ffffff;
  width: 600px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
  padding: 10px 10px 24px;
  text-align: center;
}

.input {
  border: 1px solid rgb(221, 223, 226);
  border-radius: 6px;
  width: 90%;
  padding: 14px 16px;
  font-size: 17px;
  line-height: 16px;
  margin-bottom: 10px;
}
.log-in-button {
  border: none;
  border-radius: 6px;
  width: 90%;
  padding: 0 16px;
  background-color: rgb(24, 119, 242);
  box-sizing: content-box;
  font-size: 20px;
  line-height: 48px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 15px;
}
.reset-password {
  display: block;
  color: #1877f2;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.34;
  border-bottom: 1px solid #dadde1;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.sign-up {
  font-size: 17px;
  font-weight: 700;
  line-height: 48px;
  border-radius: 6px;
  padding: 16px;
  background-color: #42b72a;
  color: #ffffff;
}
.page-create {
  margin-top: 28px;
  text-align: center;
}
.page-link {
  font-weight: 600;
}
/* Footer */
.footer {
  background-color: #ffffff;
  color: var(--footer-text-color);
}
.footer-wrapper {
  width: 1440px;
  margin: 0 auto;
  padding: 28px 0 20px 40px;
}
.footer-languages {
  display: flex;
  gap: 10px;
  border-bottom: 1px solid rgb(221, 223, 226);
  padding-bottom: 20px;
}
.lang {
  color: inherit;
}
.links-list {
  display: flex;
  gap: 20px;
  padding-bottom: 30px;
}
.links-item {
  color: inherit;
}
